.nav_bar,.user_info{
  display: inline-flex;
  min-width: 920px;
  align-items: center;
  .items > * {
    margin: 10px 10px;
    &.user_info{
      min-width: 600px;
      justify-content: flex-end;
      form{ margin-left: 10px;}
    }
  }
}
.modal {
  position: fixed;
  z-index: 1;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: rgb(47, 47, 46);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}